<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.nzgreens.dal.user.mapper.SubUserMapper">
    
    <update id="reduceBalance" parameterType="java.util.Map">
        update users set balance = balance-#{amount} where id = #{userId} and ifnull(balance,0)>=#{amount}
    </update>

    <update id="addBalance" parameterType="java.util.Map">
        update users set balance = ifnull(balance,0)+#{amount} where id = #{userId}
    </update>

    <update id="updateProductSalesVolume" parameterType="java.util.Map">
        update products set sales_volume = ifnull(sales_volume,0)+#{number} where id = #{productId}
    </update>

    <update id="batchUpdateProductNumber" parameterType="java.util.List">
        <foreach close="" collection="list" index="index" item="item" open="" separator=";">
            update products set stock = ifnull(stock,0)+#{item.productNumber} where id = #{item.productId}
        </foreach>
    </update>

    <select id="selectUserForPage" parameterType="com.nzgreens.common.form.console.UserForm" resultType="com.nzgreens.common.model.console.UsersModel">
        SELECT
        u.id,
        u.telephone,
        u.`password`,
        u.nickname,
        u.avatar,
        u.type,
        u.balance,
        u.is_valid isValid,
        u.remark,
        u.create_time createTime,
        u.update_time updateTime,
        s.telephone agentMobile
        FROM
        users u
        LEFT JOIN (
        SELECT a.user_id, ur.telephone FROM user_agent a, users ur WHERE
        a.agent_user_id = ur.id
        ) s ON u.id = s.user_id
        where 1=1
        <if test="userId != null">
            and u.id=#{userId}
        </if>
        <if test="type != null">
            and u.type=#{type}
        </if>
        <if test="isValid != null">
            and u.is_valid=#{isValid}
        </if>
        <if test="mobile != null and mobile != ''">
            and u.telephone = #{mobile}
        </if>
        <if test="startTime != null and startTime != ''">
            and u.create_time &gt;= #{startTime}
        </if>
        <if test="endTime != null and endTime != ''">
            and u.create_time &lt;= #{endTime}
        </if>
        order by u.type
    </select>

    <!-- 查询代理下的用户 -->
    <select id="selectAgentUserForPage" parameterType="com.nzgreens.common.form.console.UserForm" resultType="com.nzgreens.common.model.console.UsersModel">
        SELECT
        u.id,
        u.telephone,
        u.`password`,
        u.nickname,
        u.avatar,
        u.type,
        u.balance,
        u.is_valid isValid,
        u.create_time createTime,
        u.update_time updateTime
        FROM
        users u,user_agent a
        where u.id = a.user_id
        and a.agent_user_id=#{userId}
    </select>

    <select id="selectChargeRecordForPage" parameterType="com.nzgreens.common.form.console.ChargeRecordForm" resultType="com.nzgreens.common.model.console.ChargeRecordModel">
        SELECT
        r.id,
        r.user_agent_id userAgentId,
        r.user_id userId,
        r.amount,
        r.create_time createTime,
        u.telephone mobile,
        u.nickname
        FROM
        charge_record r,
        users u
        WHERE
        r.user_agent_id = u.id
        <if test="mobile != null and mobile != ''">
            and u.telephone = #{mobile}
        </if>
        order by r.id desc
    </select>


    <select id="selectWithdrawRecordForPage" parameterType="com.nzgreens.common.form.console.WithdrawRecordForm" resultType="com.nzgreens.common.model.console.WithdrawRecordModel">
        SELECT
        r.id,
        r.user_agent_id userAgentId,
        r.user_id userId,
        r.amount,
        r.create_time createTime,
        u.telephone mobile,
        u.nickname
        FROM
        withdraw_record r,
        users u
        WHERE
        r.user_agent_id = u.id
        <if test="mobile != null and mobile != ''">
            and u.telephone = #{mobile}
        </if>
        order by r.id desc
    </select>
</mapper>