<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.nzgreens.dal.user.mapper.SubUserMapper">
    
    <update id="reduceBalance" parameterType="java.util.Map">
        update users set balance = balance-#{amount} where id = #{userId} and ifnull(balance,0)>=#{amount}
    </update>

    <update id="addBalance" parameterType="java.util.Map">
        update users set balance = ifnull(balance,0)+#{amount} where id = #{userId}
    </update>

    <update id="updateProductSalesVolume" parameterType="java.util.Map">
        update products set sales_volume = ifnull(sales_volume,0)+#{number} where id = #{productId}
    </update>

    <update id="batchUpdateProductNumber" parameterType="java.util.List">
        <foreach close="" collection="list" index="index" item="item" open="" separator=";">
            update products set stock = ifnull(stock,0)+#{item.productNumber} where id = #{item.productId}
        </foreach>
    </update>

    <select id="selectChargeRecordForPage" parameterType="com.nzgreens.common.form.console.ChargeRecordForm" resultType="com.nzgreens.common.model.console.ChargeRecordModel">
        SELECT
        r.id,
        r.user_agent_id userAgentId,
        r.user_id userId,
        r.amount,
        r.create_time createTime,
        u.telephone mobile,
        u.nickname
        FROM
        charge_record r,
        users u
        WHERE
        r.user_agent_id = u.id
        <if test="mobile != null and mobile != ''">
            and u.telephone = #{mobile}
        </if>
        order by r.id desc
    </select>


    <select id="selectWithdrawRecordForPage" parameterType="com.nzgreens.common.form.console.WithdrawRecordForm" resultType="com.nzgreens.common.model.console.WithdrawRecordModel">
        SELECT
        r.id,
        r.user_agent_id userAgentId,
        r.user_id userId,
        r.amount,
        r.create_time createTime,
        u.telephone mobile,
        u.nickname
        FROM
        withdraw_record r,
        users u
        WHERE
        r.user_agent_id = u.id
        <if test="mobile != null and mobile != ''">
            and u.telephone = #{mobile}
        </if>
        order by r.id desc
    </select>
</mapper>