<?xml version="1.0" encoding="UTF-8"?>
<!--   
    debug="true"    启动时输出配置加载信息   
    scan="true"     默认每分钟自动扫描   
    scanPeriod="30 seconds"     设置每30秒自动扫描,若没有指定具体单位则以milliseconds为标准(单位:milliseconds, seconds, minutes or hours)   
-->  
<configuration  scan="true" scanPeriod="60 seconds">
	<property name="HOME" value="${catalina.base}/logs/"></property>
	<appender name="console" class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout"></layout>
		<encoder>
			<pattern>%date{yyyy-MM-dd HH:mm:ss} %-5level %logger - %msg%n</pattern>
		</encoder>
	</appender>

	<appender name="rollingFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${HOME}/nzgreens-console.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${HOME}/nzgreens-console.%d{yyyy-MM-dd}.log</fileNamePattern>
			<maxHistory>5</maxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>%date{yyyy-MM-dd HH:mm:ss.SSS} %-5level %logger - %msg%n</pattern>
		</encoder>
	</appender>

	<appender name="jobRollingFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${HOME}/nzgreens-job.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${HOME}/nzgreens-job.%d{yyyy-MM-dd}.log</fileNamePattern>
			<maxHistory>5</maxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>%date{yyyy-MM-dd HH:mm:ss.SSS} %-5level %logger - %msg%n</pattern>
		</encoder>
	</appender>

	<!-- 任务Log -->
	<appender name="taskLog" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${HOME}/task.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${HOME}/task.%d{yyyy-MM-dd}.log</fileNamePattern>
			<maxHistory>5</maxHistory>
			<timeBasedFileNamingAndTriggeringPolicy
					class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<!-- or whenever the file size reaches 100MB -->
				<maxFileSize>500MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
		<encoder>
			<pattern>%date{yyyy-MM-dd HH:mm:ss} %-5level %logger - %msg%n</pattern>
		</encoder>
	</appender>

	<logger name="com.nzgreens.console.task.AbstractScheduleTask" level="INFO" additivity="false">
		<appender-ref ref="taskLog"/>
	</logger>

	<!-- root -->
	<root level="INFO">
		<appender-ref ref="console" />
		<appender-ref ref="rollingFile" />
		<appender-ref ref="jobRollingFile" />
	</root>
</configuration>